.bottom > * {
  vertical-align: bottom;
}

.same-line {
  display: inline-block;
}

.arrow-down-download{
  padding: 1%;
}

.arrow-down-three{
  padding: 1%;
}

.date{
  font-size: 50px;
  font-family: 'Mukta Mahee', sans-serif;
}


.back-to-top{
  text-align: right;
  margin-right: 5%;
  margin-bottom: 3%;
}

.back-left {
  float: left;
  width: 92%;
  text-align: right;
}

.back-right {
    float: left;
    width: 10%;
}

.img-arrow{
  padding-left: 2%;
  padding-bottom: 20px;
  margin-bottom: 2%;
}

#logo{
  padding: 3%;
  float: right;
}
.text-p{
  margin-right: 24%;
  font-family: "Times New Roman", Times, serif;
}

.border-right{
  border-right: 7px solid black;
  width: 90%;
}

.h1-margin{
  margin: -5px;
  font-size: 46px;
}

.padding-slide1{
  padding-top: 4%;
  padding-right: 5%;
  padding-left: 7%;
}


/*menu */
a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  text-align: right;

}

a:hover{
  color: tomato;
}

#menuToggle{
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background-color: rgba(255, 255, 255, 0.7);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 14px;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
/*menu*/


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.right-margin{
  margin-left: 83%;
}

.fixed-menu{
  position: fixed;
}

.header {
    float: left;
    width: 90%;
    border-right: 7px solid black;
    border-bottom: 7px solid black;
}

.menu {
    float: left;
    width: 10%;
    height: 100%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.h2-span {
  font-family: Arial;
  letter-spacing: -2px;
}

.span-space {
  letter-spacing: 2px;
  margin: 0 5px;
}

/*slide one css*/
.slide-1-left {
    float: left;
    width: 32.45%;

}

.slide-1-right{
  float: left;
  width: 55%;
  border-left: 7px solid black;

}

div#overview {
    border-bottom: 7px solid black;
}

/*button-black*/
.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 8px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    width: 208px;
}


.image-slide-1{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }

.italic{
  font-style: italic;
  font-size: 12px;
}



/*Slide 2*/
.slide-2-left {
    float: left;
    width: 36%;
    height: 749px;
}

.slide-2-right{
  float: left;
  width: 52%;
}

.padding-slide2 {
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 2%;
}

.padding-right-s2 {
    padding-top: 7%;
    padding-left: 3%;

}
.padding-s2-p{
  width: 66%;
}

.image-slide-2{
    padding-top: 42%;
    width: 80%;
  }

  /*Slide3*/
  .slide-3-left-p {
      float: left;
      width: 36%;
      border-top: 7px solid black;
  }

  .slide-3-left {
    float: left;
    width: 45%;
  }

  .slide-3-right{
    float: left;
    width: 55%;
    height: 241px;
    border-top: 7px solid black;

  }
  .slide-3-right-1{
    float: left;
    width: 51%;
    height: 600px;
  }
  .slide-3-middle{
    width: 100%;
  }


  .middle-image-gallery{
    float: left;
    width: 100%;
  }

  .padding-slide3 {
      padding-top: 4%;
      padding-left: 7%;
      padding-right: 2%;
      padding-bottom: 3%;
  }

  .padding-slide3-1 {
      padding-left: 7%;
      padding-right: 2%;
  }

  .top-margin {
    margin-top: 15%;
    margin-left: 23%;
    width: 53%;
  }
  .top-margin-1 {
    margin-top: 5%;
    margin-left: 23%;
    width: 53%;
  }


  .right-img {
    width: 88%;
    padding-top: 25%;
  }

  .left-img{
      width: 69%;
      padding-top: 65%;
      padding-bottom: 30%;
      padding-left: 15%;
  }
  .h1-margin-1 {
    margin: -5px;
    font-size: 28px;
}

.p-width-60{
  width: 60%;
}
.p-width-70{
  width: 70%;
}

.padding-slide3-1 {
    padding-top: 8%;
    padding-left: 1%;
    padding-right: 2%;
    padding-bottom: 3%;
}

  .quote {
    padding-top: 2%;
    padding-right: 29%;
}

/*Map*/

.slide-map-left {
    float: left;
    width: 64%;
    padding-bottom: 2%;

}

.slide-map-right{
  float: left;
  width: 36%;
  border-top: 7px solid black;

}

.img-trains{
  width: 80%;
}

.grey{
  color: #c4c4c4;
}

h4:hover {
  color: #a8a4a4;
}

.img-map{
  width: 80%;
  padding-right: 13%;
  padding-left: 13%;
}

/*Slide 4*/
.left-column{
  float: left;
  width: 10%;
  border-top: 7px solid black;
}

.middle-column{
  float: left;
  width: 23%;
  border-right: 7px solid black;
  border-left: 7px solid black;
  border-top: 7px solid black;
}

.right-column{
  float: left;
  width: 65.9%;
  height: 1400px;
  border-top: 7px solid black;

}

.long-img{
  width: 100%;
  border-bottom: 7px solid black;
}

.long-img-hidden{
  width: 100%;
  border-bottom: 7px solid black;
visibility: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 35px;
    width: 82%;
}
.grid-item {
  padding: 20px;
  text-align: left;
}

.margin-s4{

}
/*Slide5*/

.imgs-slide5{
  width: 80%;
  padding-top: 10%;
}

.slide-5-left {
    float: left;
    width: 49%;
    border-top: 7px solid black;
}
.slide-5-left-1 {
    float: left;
    width: 48%;
}

.slide-5-right{
  float: left;
  width: 42%;
  border-top: 7px solid black;

}
.slide-5-right-1{
  float: left;
  width: 41%;
}
.slide-5-middle{
  float: left;
  width: 89%;
  height: 500px;
  border-right: 7px solid black;
}

.padding-slide5 {
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 2%;
}

.padding-slide5-1 {
    padding-left: 7%;
    padding-right: 2%;
}

.right-img-slide5 {
  width: 85%;
  padding-top: 75%;
}

.img-rooftop{
width: 95%;
padding-top: 41%;
padding-bottom: 4%;
}

/*Slide 6*/
.slide-6-left {
    float: left;
    width: 39%;
    border-top: 7px solid black;
    padding-top: 3%;
    padding-left: 7%;
}
.slide-6-left-1 {
    float: left;
    width: 43%;
    padding-bottom: 3.1%;
}

.slide-6-right{
  float: left;
    width: 36%;
    border-top: 7px solid black;
    padding-top: 8%;
    padding-left: 18%;
  }

.slide-6-right-1{
  float: left;
  width: 48%;
}

.padding-slide5 {
    padding-top: 4%;
    padding-left: 7%;
    padding-right: 2%;
}

.top-margin-6 {
    margin-top: 20%;
    width: 53%;
}
.padding-slide5-1 {
    padding-left: 7%;
    padding-right: 2%;
}

.right-img-slide6{
  width: 86%;
  padding-top: 17%;
}

.left-img-slide6 {
    width: 80%;
    padding-top: 40%;
}


/*Slide7*/
.underline {
    border-bottom: 1.5px solid #000;
    padding-bottom: 4px;
    width: 80%;
    margin-left: 7%;
}

.underline-1{
  border-bottom: 1.5px solid #000;
  padding-bottom: 3px;
  width: 100%;
}

.p-size{
  font-size: 12px;
  padding-top: 21%;
}

.p-size-ground{
  font-size: 12px;
  padding-top: 40%;
}
.p-size-ground-1{
  font-size: 12px;
  padding-top: %;
}
.p-size-1 {
  font-size: 12px;
  padding-top: 4.1%;
}


.slide-7-left-top {
  float: left;
  width: 100%;
  border-top: 7px solid black;
  padding-bottom: 9%;
  padding-top: 5%;
}



.slide-7-right{
  float: left;
  width: 36.81%;

}

#building-outline{
  width: 89%;
  padding-left: 2%;
}

.grid-three-1-2{
  float: left;
  text-align: center;
  width: 33%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.grid-three-border{
  float: left;
  text-align: center;
  width: 33%;
  padding-top: 5%;
}
.grid-three-border-1{
  float: left;
  text-align: center;
  width: 33%;
  padding-top: 5%;
}

/*grid*/
.left{
  float: left;
  width: 64%;
  padding-left: 2%;
  padding-top: 5%;
}
.right{
  float: left;
  width: 30%;
}
.slide-7-11 {
    float: left;
    width: 20%;
}
.slide-7-12 {
    float: left;
    width: 30%;
}

.slide-7-13 {
    float: left;
    text-align: right;
    width: 30%;
}
.slide-7-14 {
    float: left;
    width: 15%;
}

.margin-table{
  margin-left: 7%;
}

.row-height{
  margin-top: 4%;
}

.row-height-g{
  margin-top: 6%;
}

.row-h:hover {
  background-color: #ffa;
  background-size: 4%;
}

.bold{
  font-weight: bold;
}

.underline-2{
  border-bottom: 1.5px solid #000;
  padding-bottom: 3px;
  margin-left: 3.5%;
  margin-right: 1.5%;
}

/*Slide 8*/
.slide-8-left {
    float: left;
    width: 47%;
    border-right: 7px solid black;

}

.slide-8-right{
  float: left;
  width: 52.45%;
  border-top: 7px solid black;

}

.img-glasses{
  width: 100%;
  border-bottom: 7px solid black;
  border-top: 7px solid black;
}

/*Form*/
.form-left {
    float: left;
    width: 49.7%;
    height: 100px;
    padding-top:15%;

}

.form-right{
  float: left;
  width: 49.7%;
  height: 100px;
  padding-top:15%;

}

.form-text{
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 3px;
    width: 75%;
    margin-left: 12%;
    background-color: none;
}

.form-message{
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 3px;
    width: 87%;
    margin-left: 6%
}

input.form-text, textarea.grey.form-message {
    font-weight: bold;
}

input,textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    resize: none;
    box-shadow: #c4c4c4;
}

.button-center {
  text-align: center;
  margin: 2% 26%;
  cursor: pointer;
}

/*Form-end*/
.slide-8-left-1 {
  float: left;
  width: 41%;
  padding-top: 30%;
  padding-left: 8%;
}

.slide-8-right-1{
  float: left;
  width: 41%;
  padding-top: 41%;
  padding-left: 8%;
  padding-bottom: 8%;
}

.bottom-margin-right{
  padding-top: 10%;
  padding-left: 10%;
}

.button-padding{
  padding-left: 8%;
}
/*Footer*/
#padding-align{
  padding-bottom: 5%;
}

#footer{
  background-color: black;
  height: 80px;
}

.footer-text-color{
  color: white;
  font-size: 9px;
  padding-top: 30px;
  padding-left: 20%;
}

.footer-left {
    float: left;
    width: 20%;

}

.footer-right{
  float: left;
  width: 80%;
}

/*carousel*/
.carousel-wrapper{
  height: -webkit-fill-available;
  position:relative;
  width:98%;
  margin-left:7%;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: url("./imgs/arrow-left.png") 50% 50% / 30px no-repeat;
}

.arrow-prev{
  left:-6%;
}

.arrow-next{
    right:-6%;
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }


/*Select every element for carousel 1*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url("./imgs/Gallery-1.png");
  background-size:cover;
  width:80%;
  }
.item-2{
  background:url("./imgs/Gallery-2.png");
   background-size:cover;
   width:80%;
}
.item-3{
  background:url("./imgs/Gallery-3.png");
  background-size:cover;
  width:80%;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

  /*select every element for gallery 2*/
  [id^="image"] {
      display: none;
    }

  .image-1 {
      z-index: 2;
      opacity: 1;
    background:url("./imgs/Gallery-2.png");
    background-size:cover;
    width:80%;
    }
  .image-2{
    background:url("./imgs/Gallery-1.png");
     background-size:cover;
     width:80%;
  }
  .image-3{
    background:url("./imgs/Gallery-3.png");
    background-size:cover;
    width:80%;
  }

  *:target ~ .image-1 {
      opacity: 0;
    }

  #image-1:target ~ .image-1 {
      opacity: 1;
    }

  #image-2:target ~ .image-2, #image-3:target ~ .image-3 {
      z-index: 3;
      opacity: 1;
    }
  /*select every element for gallery 3*/
  [id^="img"] {
      display: none;
    }

  .img-1 {
    z-index: 2;
    opacity: 1;
    background:url("./imgs/Gallery-3.png");
    background-size:cover;
    width:80%;
    }
  .img-2{
    background:url("./imgs/Gallery-2.png");
     background-size:cover;
     width:80%;
  }
  .img-3{
    background:url("./imgs/Gallery-1.png");
    background-size:cover;
    width:80%;
  }

  *:target ~ .img-1 {
      opacity: 0;
    }

  #img-1:target ~ .img-1 {
      opacity: 1;
    }

  #img-2:target ~ .img-2, #img-3:target ~ .img-3 {
      z-index: 3;
      opacity: 1;
    }
